.form-container{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.bold{
    font-weight: 600;
}

.app-link{
    color: #1a2871;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

p{
    margin: 0;
}

.error-label{
    color: red;
    font-size: 14px;
    
}